* {
    margin: 0;
    padding: 0;
    font-family: Tahoma;
    box-sizing: border-box;
}

html {
    background-color: #DDA77B;
}
body::-webkit-scrollbar {
    display: none;
}
nav {
    position: fixed;
    left: 5vw;
    right: 5vw;
    z-index: 100;
    background-color: #71667C;
    width: 90vw;
    transition: all ease 0.5s;
    text-align: center;
    padding-left: 1vh;
    padding-right: 1vh;
}
header nav {
    top: 0;
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
}
footer nav {
    bottom: 0;
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
}
section.content {
    display: block;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    background-color: rgba(113, 103, 124, 1.0);
    width: 90%;
    margin-left: 5vw;
    border-top-left-radius: 3vh;
    padding: 2vh;
    height: 30vh;
    z-index: 10;
}
div.e {
    position: sticky;
    display: block;
    top: 49.9vh;
}
section.content.y {
    border-top-right-radius: 3vh;
    background-color: #8A1B66;
    top: 20vh;
    border-bottom-right-radius: 3vh;
}
div.e.a::before {
    background-color: #8A1B66;
}
section.content.z {
    border-bottom-right-radius: 3vh;
    background-color: #982745;
    top: 49.9vh;
    border-bottom-left-radius: 3vh;
}
div.e.b::before {
    background-color: #982745;
}
div.e::before {
    display: block;
    position: absolute;
    width: 6vh;
    height: 6vh;
    content: "";
    z-index: -1;
    background-color: black;
}   
div.e::after {
    display: block;
    position: absolute;
    width: 6vh;
    height: 6vh;
    background-color: #DDA77B;
    content: "";
    z-index: -1;
}
div.e.b::before {
    bottom: 0vh;
    right: 5vw;
}
div.e.a::before {
    top: 0vh;
    left: 5vw;
}
div.e.a::after {
    top: 0vh;
    left: 5vw;
    border-top-left-radius: 4vh;
}
div.e.b::after {
    bottom: 0vh;
    right: 5vw;
    border-bottom-right-radius: 4vh;
}
nav a button {
    position: relative;
    display: inline-block;
    border: 0.5vh solid #DDA77B;
    background-color: #DDA77B;
    color: #71677C;
    border-radius: 0.5vh;
    font-style: bolder;
    font-size: 2vh;
    margin: 1vh;
    transition: all ease 0.8s;
    height: 6vh;
    padding-left: 1vh;
    padding-right: 1vh;
}
nav:hover {
   padding-bottom: 1vh;
   padding-top: 2vh;
}
nav a button:hover {
    background-color: #71677C;
    color: #DDA77B;
    padding-left: 2vh;
    padding-right: 2vh;
    margin-left: 0;
    margin-right: 0;
}
section#main-image img {
    position: fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: calc(90vw - 12vh);
    background-repeat: repeat;
    max-height: 80vh;
}
section.space {
    display: block;
    position: relative;
    width: 100vw;
    height: 50vh;
}
section.container {
    display: block;
}
section.content h1 {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    line-height: 30vh;
    top: 0;
    left: 0;
    font-size: 10vw;
    text-shadow: 0 0 1vh #4DA167, 0 0 2vh #4DA167;
}
section.content.y h1 {
    color: #8A1B66;
}
section.content.z h1 {
    color: #982745;
}