h1#title {
    color: #2A5A39;
    font-size: 5vw;
    text-align: center;
    margin-bottom: 2vh;
    width: 90vw;
    margin-left: 5vw;
    overflow: hidden;
    background-color: #4DA167;
    border: 0.5vh solid #2A5A39;
    border-radius: 1.5vh;
    padding: 1vh;
    transition: all ease 0.4s;
}

h1#title:hover {
    background-color: #2A5A39;
    color: #4DA167;
}

table.example {
  display: block;
  background-color: #DDA77B;
  border: 0.5vh solid #2A5A39;
  border-radius: 1vh;
  padding: 0;
  padding-left: -1vw;
  margin: 2vw;
  border-spacing: 0;
  border-collapse: collapse;
  transition: all ease 0.1s;
}

table.example tbody {
  border-collapse: collapse;
  display: block;
  padding-top: 1.5vh;
  padding-bottom: 1vh;
  margin: 0;
  margin-left: -0.5px;
}

table.example tbody tr {
  border-collapse: collapse;
  height: 2vh;
}

table.example tbody tr td.content {
  color: #2A5A39;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 2vh;
  font-weight: bold;
  height: 2vh;
}
table.example tbody tr td.lineNumber {
  height: 2vh;
  color: #8A1B66;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 2vh;
  font-weight: bold;
  width: 4vh;
  text-align: center;
}
table.example tbody tr td.content em {
  font-family: inherit;
  font-weight: bold;
  color: #544461;
  opacity: 0.7;
}

table.example::before {
    font-size: 0vh;
    display: block;
    position: relative;
    color: #4DA167;
    background-color: #2A5A39;
    content: "[click to copy]";
    padding: 0vh;
    transition: all ease 0.2s;
}

table.example:hover {
    background-color: #2A5A39;
}

table.example:hover tr td {
    color: #DDA77B !important;
}

table.example:hover tr td.content em {
  color: #DDA77B !important;
}

table.example:hover::before {
    font-size: 2vh;
    padding: 1vh;
}

table.example.copied::before {
    content: "[copied!]";
}
button#loadmore {
  background-color: #4DA167;
  border: 0.5vw solid #2A5A39;
  color: #2A5A39;
  border-radius: 2vw;
  width: 40vw;
  padding: 1vw;
  margin-left: 30vw;
  font-size: 3vh;
  transition: all ease 0.5s;
}
button#loadmore:not(.unavailable) {
  cursor: pointer;
}
button#loadmore:not(.unavailable):hover {
  background-color: #2A5A39;
  border-color: #4DA167;
  border-radius: 1.25vw;
  color: #4DA167;
}
button#loadmore.unavailable {
  opacity: 0.35;
}